{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static './css/embedimg.css' %}">
</head>
<body>
  <!-- ********************** this is the form by which user uploads images(2 images)********* -->

  <form  method="post" enctype="multipart/form-data">
    {% csrf_token %}
     {{ form.as_p }}       
    <button id="submitbtn" type="submit">Upload</button>
  </form>
  <!-- ********************** images upload form end **************  -->
  
  <!-- ****************** this is the box into which images after processing comes out **** -->
  {% if img_obj %}
    <h3>Succesfully embeded :</h3>
    <img src="{% static './encrypted_img.png' %}" alt="img" style="max-height:300px">
    <h1>Data Embeded = {{data}}</h1>

    <!-- <img src="{{ img_obj.image1.url}}" alt="connect" style="max-height:300px"> -->
    <!-- <img src="{{ img_obj.image2.url}}" alt="connect" style="max-height:300px"> -->
    <!-- <h1>{{ password }}</h1> -->
    <!-- <h2>{{ decrypt }}</h2> -->
    
  {% endif %}
  <!-- *********** final image box ends *************  -->

  <!-- ================= javascript==========  -->
  <script src="{% static './js/main.js' %}"></script>
</body>
</html>