{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  {% if img_obj %}
    <h3>{{password}}</h3>
    <h2>{{output_file_name}}</h2>
    <a href="{% url 'download_fl' %}">Download File</a>
    <button><a href="/extract_image">extract another file</a></button>
  {% endif %}
    
</body>
</html>