{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
         {{ form2.as_p }}
        <button id="submitbtn" type="submit">Upload</button>
    </form>

    {% if img_obj %}
    <h3>{{password}}</h3>
    <img src="{% static './encrypted_img.png' %}" alt="img" style="max-height:300px">
    <!-- <h1>{{text}}</h1> -->
    
  {% endif %}
    
</body>
</html>