{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'homepage' %}">
        <img src="{% static './icon/icon.png' %}" width="50" height="50" class="d-inline-block align-center" alt="">
        Steagnox</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <span class="navbar-text">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'homepage' %}">HOME<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="#">ABOUT US</a>
            </div>
        </span>
    </div>
  </nav>